<!doctype html>
<html lan="en">
<head>
	<title>3iDea.net</title>
	<link rel="stylesheet" type="text/css" href="assets\z7network.css">
</head>
<body>
	<div id="wrapper">
		<header id="main_header">
			<div class="logo1"><img src="assets\3idealogo3.png"></div>		
			<nav id="main-nav">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Tutorials</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact Us</a></li>					
				</ul>				
		</nav>
		</header>
		
		<form class="search">
			<input type="text" name"username" value="Search"/>
		</form>

		<section id="main_section">			
			<aside id="main_aside">
				<div class="band-title"> 
					OPM BANDS              
          		</div>
	          		<ul class="list">
	          			<li><a href="#">Eraseheads</a></li>
	          			<li><a href="#">River Maya</a></li>
	          			<li><a href="#">Parokya ni Edgar</a></li>
	          			<li><a href="#">Sandwich</a></li>
	          			<li><a href="#">Pupil</a></li>
	          			<li><a href="#">Chicosci</a></li>
	          			<li><a href="#">Urbandove</a></li>
	          			<li><a href="#">Kamikaze</a></li>
	          			<li><a href="#">Eraseheads</a></li>
	          			<li><a href="#">River Maya</a></li>
	          			<li><a href="#">Parokya ni Edgar</a></li>
	          			<li><a href="#">Sandwich</a></li>
	          			<li><a href="#">Pupil</a></li>
	          			<li><a href="#">Chicosci</a></li>
	          			<li><a href="#">Urbandove</a></li>
	          			<li><a href="#">Kamikaze</a></li>
	          			<li><a href="#">Eraseheads</a></li>
	          			<li><a href="#">River Maya</a></li>
	          			<li><a href="#">Parokya ni Edgar</a></li>
	          			<li><a href="#">Sandwich</a></li>
	          			<li><a href="#">Pupil</a></li>
	          			<li><a href="#">Chicosci</a></li>
	          			<li><a href="#">Urbandove</a></li>
	          			<li><a href="#">Kamikaze</a></li>
	          			<li><a href="#">Eraseheads</a></li>
	          			<li><a href="#">River Maya</a></li>
	          			<li><a href="#">Parokya ni Edgar</a></li>
	          			<li><a href="#">Sandwich</a></li>
	          			<li><a href="#">Pupil</a></li>
	          			<li><a href="#">Chicosci</a></li>
	          			<li><a href="#">Urbandove</a></li>
	          			<li><a href="#">Kamikaze</a></li>
	          			<li><a href="#">River Maya</a></li>
	          			<li><a href="#">Parokya ni Edgar</a></li>
	                </ul>
	                <div class="android">
	                	<h4>Android Planet</h4>
	                <div>
	                	<img src="assets\droid.jpg">
	                </div>	
			</aside>
			<section id="right_side">
				<h1 class="video-title">Watch Hundreds of Band Performance</h1>
				<div class="intro">
					Welcome to the worlds largest collection of computer and technology related tutorials on the web. Feel free to browse through our library of over 7,000 videos and tutorials. We have courses in programming, web design, video editing, game development, and more. Join the over 180 million people who have already enjoyed the benefits of online learning.
					<br>
					<br>
				</div>
				<div class="video-section-title">Most Popular Band in the Philippine OPM</div>
				<div id="featured_video">
					<iframe width="640" height="390" src="assets\Sabado_eHeads.mp4" controls="1" allowfullscreen controls></iframe>
				</div>
				<div class="Taylor">Taylor Swift Concert</div>
				<div id="featured_video">
					<video width="640" height="390" src="C:\Users\Ericah\Videos\TaylorSwift.mp4" controls ></video> 
				</div>
						
				<div id="slider">
					<ul class="slides">
						<li class="slide"><img src="assets\pic1.jpg"></li>
						<li class="slide"><img src="assets\pic2.jpg"></li>
						<li class="slide"><img src="assets\pic3.jpg"></li>
						<li class="slide"><img src="assets\pic4.jpg"></li>
						<li class="slide"><img src="assets\pic5.jpg"></li>
						<li class="slide"><img src="assets\pic1.jpg"></li>
					</ul>
				</div>
			</section>
		</section>
		
		<footer id="main_footer">
			<div class="multimedia">
				<a href="#"><img src="assets\facebook.png"></a>
				<a href="#"><img src="assets\twitter.png"></a>
				<a href=""><img src="assets\linkedin.png"></a>
			</div>
			<p style="text-align: center; font-size: 10px;">© 2015 Ric Castro Blog. All rights reserved.</p>
		</footer>

	</div>

	<script type="text/javascript" src="assets\jquery-2.1.3.js"></script>
	<script type="text/javascript" src="assets\main.js"></script>
</body>
</html>


